body {
  background-image: url("./img/beautifulShotColorfulAutumn.jpg");
  background-size: cover;
  color: white;
}

#header {
  display: flex;
}

.weather-details svg {
  width: 20px;
  height: 20px;
}
.weather-details {
  display: flex;
}
#hourly,
.forecast-daily-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.355);
  overflow: scroll;
  gap: 30px;
}
